{% extends "base.html" %}

{% block smallTitle %}
<a class="breadcrumb-item" href="/operation">Operation</a>
<li class="breadcrumb-item active">delete</li>
{% endblock smallTitle %}

{% block IconCards %}
<div class="row">
  <div class="col-xl-12 col-sm-12 mb-12">
    <div class="card text-white {{ bg or "bg-danger"}} o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
           <i class="fa fa-fw fa-trash"></i>
        </div>
        <div class="mr-5 h1">Delete!</div>
      </div>
    </div>
  </div>
</div>
{% endblock IconCards %}

{% block DataTables %}
  <div class="card mt-3">
    <div class="card-header">
      <div class="row">
        <div class="col-xl-12 col-sm-12">
          <i class="fa fa-table" id="table-name">  {{table_name or "Academy"}}</i>  
          <div class="dropdown pull-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose Table
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/operation/delete/table/Academy">Academy</a>
              <a class="dropdown-item" href="/operation/delete/table/Teacher">Teacher</a>
              <a class="dropdown-item" href="/operation/delete/table/Student">Student</a>
              <a class="dropdown-item" href="/operation/delete/table/Course">Course</a>
              <a class="dropdown-item" href="/operation/delete/table/Take_Course">Take_Course</a>
            </div>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="search-wrapper col-lg-3 mt-3" role="search">
          <div class="form-group input-group search-area">
            <input class="form-control" id="query-input" placeholder="Search by Id" type="text">
            <span class="input-group-btn" id="search-span">
              <button class="btn btn-default" id="query-button" type="submit" value="Submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr id="t-headpart">
              {%- if columns -%}
                {% for column_name in columns %}
                  <th>{{ column_name|e }}</th>
                {% endfor %}
              {% endif %}
            </tr>
          </thead>
          <tbody id="t-bodypart">
            {%- if results -%}
              {% for result in results %}
                <tr class="datatable-row">
                  {% for key,value in result.items() %}
                    {%- if key == "Photo" -%}
                      <th><img src="data:image/png;base64,{{ value }}"/></th>
                    {% else %}
                        <th>{{ value }}</th>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
{% endblock DataTables %}

{% block modal%}
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="h5 text-danger">This operation can not be recover</p>
        <p>Item Key:</p>
        <div id="modal-data-block"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal%}

{% block script %}
<script type="text/javascript">
$(function() {

  function getJsondata(tablename, query) {
    queryText = query
    $.getJSON({
      url: "/operation/delete/table/" + tablename + "/query",
      data: {text:queryText},
      success: function(response) {
                console.log("success")
                parseJson(response);
            },
            error: function(error) {
                console.log("fail");
                console.log(error);
            }
    });
  };


  function parseJson(data) {
    columns = data.columns;
    result = data.results;
    $("#t-headpart").empty();
    $("#t-bodypart").empty();

    for(i =0; i < columns.length;i++) {
      $("<th/>", {
        text: columns[i]
      }).appendTo("#t-headpart");
    }

    for(i =0; i < result.length;i++) {
      tr = "<tr class='datatable-row'>";
      for(key in result[i]) {
        if(key == "Photo") {
          tr += "<th>" + "<img src=\"data:image/png;base64," + result[i][key] + "\"/>" +  "</th>";
        } else {
          tr += "<th>" + result[i][key] + "</th> ";
        }
      }
      tr += "</tr>"
      $(tr).appendTo("#t-bodypart");
    }
    $(".datatable-row").click(datatableOnclick);
  };


  function startQuery() {
    //Get selected example name.
    query = $("#query-input").val();
    tablename = $("#table-name").text().trim();
    //Check if the text is not empty.
    if(query && query != "") {
        getJsondata(tablename, query);
    } else {
      getJsondata(tablename, "");
    } 
  };

  function getCurrentTable() {
    return $("#table-name").text().trim();
  };

  function datatableOnclick() {
    clickedItem = $(this);
    currentTable = getCurrentTable();
    $("#modal-data-block").empty();
    console.log(clickedItem);
    if(currentTable == "Take_Course") {
      key1 = clickedItem.children().first().text();
      key2 = clickedItem.children().eq(1).text();
      $("<p/>",{text: key1}).appendTo("#modal-data-block");
      $("<p/>",{text: key2}).appendTo("#modal-data-block");
    } else {
      key1 = clickedItem.children().first().text();
      $("<p/>",{text: key1}).appendTo("#modal-data-block");
    }
    $("#confirmModal").modal("toggle");
  };

  function sendDelete(tablename, data) {
    if(data) {
      ajaxData = {'k1':data[0]};
      if(data.length > 1) {
        ajaxData = {
          'k1':data[0],
          'k2':data[1]
        };
      }
      ajaxData = $.param(ajaxData);
      console.log(ajaxData);
        $.get({
          url: "/operation/delete/table/" + tablename + "/delete",
          data: {key:ajaxData},
          success: function(response) {
                    console.log("success");
                    location.reload();
                },
                error: function(error) {
                    console.log("fail");
                    console.log(error);
                }
        });
    }
  };

  $("#query-input").keyup(function() {
    var $this = $(this);
    clearTimeout($this.data("timeout"));
        
    $this.data("timeout", setTimeout(function(){
        startQuery();
    }, 250));
  });

  $("#query-button").click(function() {
      startQuery();
  });

  $(".datatable-row").click(datatableOnclick);

  $("#delete-button").click(function() {
    dataElement = $("#modal-data-block");
    length = dataElement.children().length;
    currentTable = getCurrentTable();
    data = [];
    for(i = 0;i<length;i++) {
      data.push(dataElement.children().eq(i).text());
    }
    console.log(data);
    sendDelete(currentTable, data)
    $("#confirmModal").modal("toggle");
  });

});
</script>
{% endblock script %}