{% extends "base.html" %}


{% block smallTitle %}
<li class="breadcrumb-item active">Demo</li>
{% endblock smallTitle %}


{% block titleCard %}
<div class="row">
  <div class="col-xl-12 col-sm-12 mb-12">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-comments"></i>
        </div>
        <div class="mr-5 h1">Demo!</div>
      </div>
    </div>
  </div>
</div>
{% endblock titleCard %}


{% block DataTables %}
  <div class="card mt-3">
    <div class="card-header">
    	<div class="row">
    		<div class="col-xl-12 col-sm-12">
	    		<i class="fa fa-table"></i>	
				{{table_name or 'Demo'}}
	    		<div class="dropdown pull-right">
	    		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    		    Choose Demo
	    		  </button>
	    		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    		    <a class="dropdown-item" href="/demo/demo1">Demo 1</a>
	    		    <a class="dropdown-item" href="/demo/demo2">Demo 2</a>
	    		    <a class="dropdown-item" href="/demo/demo3">Demo 3</a>
	    		  </div>
	    		</div>	
    		</div>	
  		</div>
  	</div>
    <div class="card-body">
    	<h5>{{ demo_title }}</h5>
    	<P>{{ demo_code }}</P>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
            	{%- if columns -%}
	            	{% for column_name in columns %}
	            	  <th>{{ column_name|e }}</th>
	            	{% endfor %}
	            {% endif %}
            </tr>
          </thead>
          <tbody>
          	{%- if results -%}
	          	{% for result in results %}
	          	  <tr>
	          	    {% for key,value in result.items() %}
		          	    {%- if key == 'Photo' -%}
		          	    	<th><img src="data:image/png;base64,{{ value }}"/></th>
		          	    {% else %}
		          	      	<th>{{ value }}</th>
		          	    {% endif %}
	          	    {% endfor %}
	          	  </tr>
	          	{% endfor %}
	        {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
{% endblock DataTables %}