{% extends "base.html" %}

{% block DataTables %}
  <div class="card mt-3">
    <div class="card-header">
    	<div class="row">
    		<div class="col-xl-12 col-sm-12">
	    		<i class="fa fa-table"></i>	
				{{table_name or 'Table Preview'}}
	    		<div class="dropdown pull-right">
	    		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    		    Choose Table
	    		  </button>
	    		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    		    <a class="dropdown-item" href="/table/Academy">Academy</a>
	    		    <a class="dropdown-item" href="/table/Teacher">Teacher</a>
	    		    <a class="dropdown-item" href="/table/Student">Student</a>
	    		    <a class="dropdown-item" href="/table/Course">Course</a>
	    		    <a class="dropdown-item" href="/table/Take_Course">Take_Course</a>
	    		  </div>
	    		</div>	
    		</div>	
  		</div>
  	</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
            	{%- if columns -%}
	            	{% for column_name in columns %}
	            	  <th>{{ column_name|e }}</th>
	            	{% endfor %}
	            {% endif %}
            </tr>
          </thead>
          <tbody>
          	{%- if results -%}
	          	{% for result in results %}
	          	  <tr>
	          	    {% for key,value in result.items() %}
		          	    {%- if key == 'Photo' -%}
		          	    	<th><img src="data:image/png;base64,{{ value }}"/></th>
		          	    {% else %}
		          	      	<th>{{ value }}</th>
		          	    {% endif %}
	          	    {% endfor %}
	          	  </tr>
	          	{% endfor %}
	        {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
{% endblock DataTables %}

